<%- include('../includes/head.ejs')  %> 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/project.css" />
    <script defer src="/js/project.js"></script>
  </head>
  <body>
    <%- include('../includes/nav.ejs')  %>

    <section id="card-container">
      <section class="card">
        <div class="card__intro">
          <h1>Author : <span class="card__intro__author">Jonas</span></h1>
          <h2>Title : Sample Project</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
            illo? Voluptatem dolore incidunt illum fugiat neque alias iste
            quidem quae soluta. Sequi dignissimos doloribus hic repellendus odio
            dolores dicta officia temporibus mollitia sed inventore labore natus
            eius, explicabo expedita nostrum vitae, dolor, quod ut ipsam maiores
            incidunt asperiores! Consequuntur, placeat.
          </p>
          <section class="card__intro__links">
            <a href="#"><button class="btn">Live Demo</button></a>
            <a href="#"
              ><button class="btn">
                <i class="fa-brands fa-github"></i>Github
              </button></a
            >
          </section>
        </div>
        <div class="card__content">
          <img src="/images/p1.JPG" alt="" class="card__content__img" />
          <ul class="card__content__src__lnks">
            <li>CSS</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>PHP</li>
          </ul>
        </div>
      </section>
      <section class="card card--hidden">
        <div class="card__intro">
          <h1>Author : <span class="card__intro__author">Jonas</span></h1>
          <h2>Title : Sample Project</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
            illo? Voluptatem dolore incidunt illum fugiat neque alias iste
            quidem quae soluta. Sequi dignissimos doloribus hic repellendus odio
            dolores dicta officia temporibus mollitia sed inventore labore natus
            eius, explicabo expedita nostrum vitae, dolor, quod ut ipsam maiores
            incidunt asperiores! Consequuntur, placeat.
          </p>
          <section class="card__intro__links">
            <a href="#"><button class="btn">Live Demo</button></a>
            <a href="#"
              ><button class="btn">
                <i class="fa-brands fa-github"></i>Github
              </button></a
            >
          </section>
        </div>
        <div class="card__content">
          <img src="/images/p1.JPG" alt="" class="card__content__img" />
          <ul class="card__content__src__lnks">
            <li>CSS</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>PHP</li>
          </ul>
        </div>
      </section>
      <section class="card card--hidden">
        <div class="card__intro">
          <h1>Author : <span class="card__intro__author">Jonas</span></h1>
          <h2>Title : Sample Project</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
            illo? Voluptatem dolore incidunt illum fugiat neque alias iste
            quidem quae soluta. Sequi dignissimos doloribus hic repellendus odio
            dolores dicta officia temporibus mollitia sed inventore labore natus
            eius, explicabo expedita nostrum vitae, dolor, quod ut ipsam maiores
            incidunt asperiores! Consequuntur, placeat.
          </p>
          <section class="card__intro__links">
            <a href="#"><button class="btn">Live Demo</button></a>
            <a href="#"
              ><button class="btn">
                <i class="fa-brands fa-github"></i>Github
              </button></a
            >
          </section>
        </div>
        <div class="card__content">
          <img src="/images/p1.JPG" alt="" class="card__content__img" />
          <ul class="card__content__src__lnks">
            <li>CSS</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>PHP</li>
          </ul>
        </div>
      </section>
      <section class="card card--hidden">
        <div class="card__intro reveal">
          <h1>Author : <span class="card__intro__author">Jonas</span></h1>
          <h2>Title : Sample Project</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
            illo? Voluptatem dolore incidunt illum fugiat neque alias iste
            quidem quae soluta. Sequi dignissimos doloribus hic repellendus odio
            dolores dicta officia temporibus mollitia sed inventore labore natus
            eius, explicabo expedita nostrum vitae, dolor, quod ut ipsam maiores
            incidunt asperiores! Consequuntur, placeat.
          </p>
          <section class="card__intro__links">
            <a href="#"><button class="btn">Live Demo</button></a>
            <a href="#"
              ><button class="btn">
                <i class="fa-brands fa-github"></i>Github
              </button></a
            >
          </section>
        </div>
        <div class="card__content">
          <img src="/images/p1.JPG" alt="" class="card__content__img" />
          <ul class="card__content__src__lnks">
            <li>CSS</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>PHP</li>
          </ul>
        </div>
      </section>
    </section>
<%- include('../includes/footer.ejs')  %> 
