/* a {
  color: #092032;
  transition: all 0.4s ease;
  font-weight: 500;
}

.text-brand {
  color: var(--color-tertiary);
}

a:hover {
  color: var(--color-tertiary);
}
.navbar .navbar-nav .nav-link {
  color: #092032;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--color-tertiary);
}

.navbar .navbar-nav .nav-link.active {
  color: var(--color-tertiary);
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}

.navbar {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  background-color: var(--color-tertiary);
}

.btn-logo {
  margin-right: 20px;
}

.login-link:hover {
  color: white;
} */
